<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>项目名称</string>
		<key>key</key>
		<string>projectname</string>
	</dict>
	<dict>
		<key>title</key>
		<string>计划内容</string>
		<key>key</key>
		<string>projectplancontent</string>
	</dict>
	<dict>
		<key>title</key>
		<string>投资额</string>
		<key>key</key>
		<string>investment</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上报人</string>
		<key>key</key>
		<string>reportperson</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上报时间</string>
		<key>key</key>
		<string>reportperson</string>
	</dict>
	<dict>
		<key>title</key>
		<string>进展进度</string>
		<key>key</key>
		<string>reportperson</string>
	</dict>
	<dict>
		<key>title</key>
		<string>进展内容</string>
		<key>key</key>
		<string>content</string>
	</dict>
</array>
</plist>
