<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>项目名称</string>
		<key>key</key>
		<string>name</string>
	</dict>
	<dict>
		<key>title</key>
		<string>项目大类名称</string>
		<key>key</key>
		<string>mainclassname</string>
	</dict>
	<dict>
		<key>title</key>
		<string>项目小类名称</string>
		<key>key</key>
		<string>subclassname</string>
	</dict>
	<dict>
		<key>title</key>
		<string>拓展项目</string>
		<key>key</key>
		<string>thetotalproject</string>
	</dict>
	<dict>
		<key>title</key>
		<string>建设内容</string>
		<key>key</key>
		<string>constructionContent</string>
	</dict>
	<dict>
		<key>title</key>
		<string>项目状态</string>
		<key>key</key>
		<string>projectstatus</string>
	</dict>
	<dict>
		<key>title</key>
		<string>投资类型</string>
		<key>key</key>
		<string>investmenttype</string>
	</dict>
	<dict>
		<key>title</key>
		<string>投资总额</string>
		<key>key</key>
		<string>totalinvestment</string>
	</dict>
	<dict>
		<key>title</key>
		<string>河流名字</string>
		<key>key</key>
		<string>rivername</string>
	</dict>
	<dict>
		<key>title</key>
		<string>责任人员</string>
		<key>key</key>
		<string>principal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>计划开始时间</string>
		<key>key</key>
		<string>planstarttime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>计划结束时间</string>
		<key>key</key>
		<string>planendtime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>归口管理单位</string>
		<key>key</key>
		<string>managementunitreturn</string>
	</dict>
	<dict>
		<key>title</key>
		<string>计划制定年份</string>
		<key>key</key>
		<string>enactprojectdate</string>
	</dict>
	<dict>
		<key>title</key>
		<string>审核状态</string>
		<key>key</key>
		<string>status</string>
	</dict>
</array>
</plist>
